body {
    font-family: sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

input, textarea {
    font-family: sans-serif;
    margin: 10px 0;
    height: 30px;
    border: 2px solid gray;
    width: 250px;
}

#submit {
    width: 100px;
}

.validError {
    border-color: red;
}

.validationError {
    color: red;
    margin-left: 5px;
}